[Unit]
Description=Puzzle3 server

[Service]
User=node
ExecStart=/usr/bin/npm run start
WorkingDirectory=/opt/puzzle3

[Install]
WantedBy=multi-user.target
